---
import { storyblokEditable } from '@storyblok/astro';
const { amenidadesContent } = Astro.props;
const amenidades = amenidadesContent[0].amenidad;
---

<div
  {...storyblokEditable(amenidadesContent[0])}
  class="bg-black rounded-sm p-4 sm:px-7 sm:py-7 h-full flex flex-col justify-center">
  <h3 class="text-white text-xl font-medium mb-6">Amenidades</h3>
  <ul
    class="grid grid-cols-2 items-center gap-x-6 gap-y-2 sm:gap-x-14">
    {
      amenidades?.map((amenity: any) => {
        return (
          <li class="flex items-center gap-2">
            <img
              class="w-8 h-8 sm:h-10 sm:w-10 text-white inline-flex items-center justify-center"
              src={amenity.amenidad_icon.filename}
              alt=""
            />
            <span class="text-sm sm:text-base text-white">
              {amenity.amenidad}
            </span>
          </li>
        );
      })
    }
  </ul>
</div>
