---
import { storyblokEditable } from '@storyblok/js';
import ServiceCard from '@/components/ServiceCard.astro';
const { data } = Astro.props;
---

<section
  {...storyblokEditable(data)}
  class="py-8 grid sm:grid-cols-3 gap-x-8 gap-y-4">
  {
    data.servicios.map((servicio: any) => (
      <ServiceCard blok={servicio} />
    ))
  }
</section>
