---
import Layout from "@/layouts/Layout.astro";
import { getProjects, getCostos, sluglify, unslugify, formatCurrency } from '@/lib/utils';
import ListCostos from '@/components/ListCostos.astro'
import ListProjects from "@/components/ListProjects.astro";
import MoreInfo from "@/components/MoreInfo.astro";




export async function getStaticPaths() {
  const costos = await getCostos()
	const allProjects = await getProjects()
  console.log(costos)

	return costos.flatMap((costo: any) => {
    const projects = allProjects.map((project) => project.data.presupuesto); 
    console.log(projects)
		// const unsluglifyNameCategory = unslugify(costo)
		const filteredProjects = allProjects.filter(
			(project: any) => project.data.presupuesto === costo
		)

		return [{
			params: {
				costo: formatCurrency(costo)
			}, 
      props: {
        filteredProjects, 
        costoTitle: costo
      }
		}] 
	})
}

const params = Astro.params
const {filteredProjects, costoTitle} = Astro.props

---

<Layout title="Ubicaciones">
  <section>
    <div class="container">
      <div class="mt-6 sm:mt-10 bg-black/95 pl-6 py-8 sm:pr-6 sm:py-28 flex flex-col gap-8 sm:gap-10 items-center justify-center rounded-md">
        <h1 class="text-white font-heading text-3xl sm:text-7xl px-6">Presupuesto</h1>
        <ListCostos activeCategory={params.costo}/>
      </div>
      <div class="pt-10 pb-28">
        <ListProjects projects={filteredProjects}/> 
      </div>
    </div>
    
  </section>
  <MoreInfo/> 
</Layout>