---
import ListCosto from '@/components/ListCostos.astro';

import ProjectCard from '@/components/ProjectCard.astro';
import MoreInfo from '@/components/MoreInfo.astro';
import Layout from '@/layouts/Layout.astro';
import { getProjects } from '@/lib/utils';

const projects = await getProjects();
---

<Layout title="Costos">
  <section>
    <div class="container">
      <div
        class="mt-6 sm:mt-10 bg-black/95 pl-6 py-8 sm:py-28 flex flex-col gap-8 sm:gap-10 items-center justify-center rounded-md">
        <h1 class="text-white font-heading text-3xl sm:text-7xl px-6">Presupuesto</h1>
        <ListCosto />
      </div>
      <div class="pt-10 pb-28">
        <section>
          <div class="grid md:grid-cols-2 gap-x-12 gap-y-8 sm:gap-y-12">
            {
              projects.map((project) => (
                <ProjectCard project={project} badge={true} button={true} />
              ))
            }
          </div>
        </section>
      </div>
    </div>
  </section>
  <MoreInfo />
</Layout>
