---
import Image from 'astro/components/Image.astro';
import showroomImage from '@/assets/showroom-tr.jpg';
import '../../../styles/globals.css';
import { EventForm } from '@/components/EventForm';
import { Clock, MapPin } from 'lucide-react';
import { GranVentaCarousel } from '@/components/GranVentaCarousel';
import LogoMarquee from '@/components/LogoMarquee.astro';
---

<!doctype html>
<html lang="es-MX">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Encuentra tu espacio ideal para vivir. En ubicaciones con plusvalía en Nuevo León"
    />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon-16x16.png"
    />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />

    <title>Terra Regia Residencial | Gran Venta</title>
  </head>
  <body
    class="bg-[#F5F5F5] text-neutral-600 font-sans overflow-x-hidden">
    <main>
      <!-- Hero -->
      <section
        class="relative aspect-video lg:aspect-auto lg:h-dvh w-full overflow-hidden">
        <video
          class="absolute w-full h-full top-0 left-0 object-fit lg:object-cover"
          autoplay
          muted
          loop
          playsinline
          poster="/gran-venta-poster/png"
          preload="auto">
          <source src="/gran-venta-nuevo.mp4" type="video/mp4" />
          Tu navegador no soporta videos
        </video>
      </section>
      <!-- Intro -->
      <section class="pt-8 lg:pt-28 mb-12 px-4">
        <div class="max-w-3xl mx-auto">
          <div
            class="flex flex-col gap-y-6 items-center justify-center text-center">
            <h1
              class="text-[28px] leading-[1] lg:text-6xl lg:leading-[1.1] tracking-wide text-neutral-900 font-semibold">
              ¡Gracias por registrarte a la Gran Venta!
            </h1>
            <p class="text-lg lg:text-xl">Nos vemos en el 2026</p>
          </div>
        </div>
      </section>
      <!-- Form -->
      <!-- <section class="mb-16 lg:mb-28 px-0">
        <div class="container mx-auto">
          <EventForm client:load />
        </div>
      </section> -->
      <!-- CTA -->
      <!-- <section
        class="px-4 lg:px-10 mx-auto mb-10 lg:mb-16 overflow-x-hidden">
        <div
          class="bg-neutral-900 flex flex-col items-center justify-center text-center rounded-md lg:py-28 px-6 py-8">
          <h2
            class="text-3xl lg:text-6xl text-white mb-4 lg:mb-6 font-medium">
            Conoce Nuestros Desarrollos
          </h2>
          <p
            class="text-lg lg:text-xl text-neutral-100 mb-6 lg:mb-12">
            Encuentra el lugar ideal para vivir o invertir
          </p>

          <LogoMarquee />
        </div>
      </section> -->
      <!-- Showroom -->
      <!-- <section class="py-8 lg:py-16">
        <div class="max-w-7xl mx-auto px-5 lg:px-0">
          <div class="rounded-md overflow-hidden shadow-md">
            <div class="grid lg:grid-cols-3 text-neutral-700">
              <div class="order-2 lg:order-1 bg-white">
                <div class="hidden lg:block lg:aspect-video">
                  <Image
                    src={showroomImage.src}
                    alt="Showroom de Terra Regia"
                    loading="lazy"
                    width={800}
                    height={800}
                    class="object-cover object-center h-full w-full"
                  />
                </div>

                <div
                  class="px-6 py-6 flex flex-col items-stretch bg-white">
                  <h2
                    class="text-neutral-900 text-lg lg:text-xl mb-4">
                    Showroom | Experiencia Terra Regia
                  </h2>
                  <div>
                    <div
                      class="flex gap-x-2 lg:gap-x-4 group lg:py-4">
                      <MapPin
                        className="w-4 h-4 shrink-0 mt-1.5 text-black"
                        size={16}
                        strokeWidth={1}
                      />
                      <a
                        class="group-hover:text-neutral-900 group-hover:underline transition-all duration-300 ease-in"
                        href="https://maps.app.goo.gl/rHhAi439YHX4BkPZ7 "
                        target="_blank">
                        Blvd. Rogelio Cantú Gómez 201, Colinas de San
                        Jerónimo, 64630 Monterrey, N.L
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <div
                class="col-span-1 lg:col-span-2 aspect-[4/3] order-1 lg:order-2">
                <iframe
                  class="object-cover object-center w-full h-full"
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4423.853181034737!2d-100.3788637!3d25.695865299999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86629700739b7f49%3A0x6c2ade5dbfbd94bb!2sShowroom%20%7C%20Experiencia%20Terra%20Regia!5e1!3m2!1ses-419!2smx!4v1762754306598!5m2!1ses-419!2smx"
                  width="600"
                  height="450"
                  style="border:0;"
                  allowfullscreen=""
                  loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"
                ></iframe>
              </div>
            </div>
          </div>
        </div>
      </section> -->
      <section class="py-16 lg:py-28 px-5 lg:px-0">
        <GranVentaCarousel client:idle />
      </section>
    </main>
  </body>
</html>
