---
import { storyblokEditable } from '@storyblok/astro';
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro';

const { blok } = Astro.props;
---

<section {...storyblokEditable(blok)}>
  <div class="container mt-16 sm:mt-12 grid sm:grid-cols-3 gap-x-8 gap-y-4">
    {
      blok.columns?.map((blok: any) => {
        return <StoryblokComponent blok={blok} />;
      })
    }
  </div>
</section>
