---
import { Image } from 'astro:assets';
const { blok } = Astro.props;
---

<section class="py-16 sm:py-24">
  <div class="container">
    <section>
      <h1
        class="mb-5 sm:mb-6 text-4xl sm:text-6xl leding-[1.1] text-neutral-950 font-heading sm:max-w-[19em]">
        {blok.titulo}
      </h1>
      <p class="text-lg sm:text-2xl text-neutral-600 max-w-[30em]">
        {blok.subtitulo}
      </p>
      <div class="flex mt-6 sm:mt-8">
        <a
          class="inline-flex items-center justify-center whitespace-nowrap rounded-full text-lg font-medium focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 transition-colors duration-300 ease-in-out bg-primary text-white shadow hover:bg-primary/90 px-8 py-4 h-14 w-full sm:w-fit"
          target="_blank"
          href="https://calendly.com/terraregiacomercial/cita_showroom?month=2025-06"
          >Agenda tu cita</a
        >
      </div>
    </section>
    <div
      class="mt-16 overflow-hidden rounded-[15px] sm:rounded-md shadow-sm aspect-video">
      <Image
        src={blok.imagen_hero.filename}
        alt={blok.imagen_hero.alt ||
          'Proyecto Terra Regia Residencial'}
        format="webp"
        inferSize
        class="w-full h-full object-cover"
      />
    </div>
  </div>
</section>
