---
import { storyblokEditable } from '@storyblok/astro';
import { Image } from 'astro:assets';
const { blok } = Astro.props;

const repeatCount = 5;
---

<section {...storyblokEditable(blok)}>
  <div
    class="max-w-7xl mx-auto relative py-12 sm:py-20 group overflow-hidden flex items-center bg-[#f5f5f5]">
    <div
      class="animate-slideSlow flex items-center gap-10 md:gap-20 whitespace-nowrap">
      {
        Array.from({ length: repeatCount }).map((_, index) =>
          blok.logos.map((item: any) => (
            <a
              href={`/${item.link.cached_url}`}
              class="shrink-0 cursor-pointer inline-flex max-w-24 sm:max-w-28">
              <Image
                src={item.logo.filename}
                alt={item.texto_alt}
                inferSize
                format="webp"
                class="w-full h-full object-contain"
                loading="lazy"
              />
            </a>
          ))
        )
      }
    </div>
    <div
      class="pointer-events-none absolute inset-y-0 left-0 w-1/4 bg-gradient-to-r from-[#f5f5f5]">
    </div>
    <div
      class="pointer-events-none absolute inset-y-0 right-0 w-1/4 bg-gradient-to-l from-[#f5f5f5]">
    </div>
  </div>
</section>
