---
import { storyblokEditable } from '@storyblok/astro';
import { renderRichText } from '@storyblok/astro';
import { Asterisk } from 'lucide-react';
const { blok } = Astro.props;
const renderedRichText = renderRichText(blok.content);
console.log(blok);
---

<section {...storyblokEditable(blok)}>
  <div class="container py-16 flex flex-col">
    <h1 class="text-3xl sm:text-6xl leding-[1.1] text-black font-heading">{blok.headline}</h1>
    <div class="mt-12 space-y-8 text-lg text-neutral-600 prose-lg" set:html={renderedRichText} />
    <div class="mt-6 space-y-2 pl-4">
      {
        blok.condiciones.map((item: any) => (
          <p class="text-neutral-600 text-base flex items-center gap-1">
            <Asterisk className="w-3 h-3" />
            {item.condicion}
          </p>
        ))
      }
    </div>
  </div>
</section>
