---
import { storyblokEditable } from '@storyblok/astro';
import { PromocionesCarousel } from '@/components/promo-carousel';
import Proyecto from './Proyecto.astro';

const { blok } = Astro.props;
---

<section {...storyblokEditable(blok)} class="py-12 sm:py-16">
  <div class="container py-12 sm:py-16">
    <h2
      class="font-heading text-3xl sm:text-6xl leading-4 tracking-tight">
      {blok.titulo}
    </h2>
    <div></div>
    <div class="mt-6 sm:mt-16">
      <PromocionesCarousel
        proyectos={blok.proyectos}
        client:visible
      />
    </div>
  </div>
</section>
