---
import { storyblokEditable } from '@storyblok/astro';
import { PromocionesCarousel } from '@/components/promo-carousel';
import Proyecto from './Proyecto.astro';

const { blok } = Astro.props;
---

<section {...storyblokEditable(blok)} class="py-8 sm:py-16">
  <div class="container">
    <h2
      class="font-heading text-3xl sm:text-5xl leading-4 tracking-[0.01em]">
      {blok.titulo}
    </h2>
    <div></div>
    <div class="mt-8 sm:mt-12">
      <PromocionesCarousel
        proyectos={blok.proyectos}
        client:visible
      />
    </div>
  </div>
</section>
