---
import { storyblokEditable } from '@storyblok/astro';
import { PresupuestoCarousel } from '@/components/PresupuestoCarousel';

const { blok } = Astro.props;

const presupuestoCards = blok.presupuesto_cards;
---

<section
  {...storyblokEditable(blok)}
  class="py-14 pb-28 sm:pt-24 sm:pb-48">
  <div class="w-full max-w-none overflow-hidden">
    <div class="container">
      <h2
        class="mb-8 sm:mb-10 font-medium font-heading text-3xl sm:text-5xl leading-[1.1] text-neutral-950">
        {blok.titulo}
      </h2>
      <div class="hidden sm:block">
        <PresupuestoCarousel
          cards={presupuestoCards}
          client:visible
        />
      </div>
    </div>
    <div class="pl-4 sm:hidden">
      <PresupuestoCarousel cards={presupuestoCards} client:visible />
    </div>
  </div>
</section>
