---
import { storyblokEditable } from '@storyblok/astro';
import ProjectCard from '@/components/ProjectCard.astro';
const { blok } = Astro.props;

let projects = blok.projects;
---

<section {...storyblokEditable(blok)} class="py-12 sm:py-16">
  <div class="container space-y-6 md:space-y-12">
    <div class="bg-[#252323] rounded-md sm:rounded-lg p-8 px-6 sm:py-16 sm:px-14">
      <h2 class="font-medium text-3xl sm:text-5xl text-white text-balance">
        {blok.headline}
      </h2>
    </div>
    <ul class="grid sm:grid-cols-2 gap-8 sm:gap-10">
      {
        projects.length &&
          projects.map((project: any) => {
            // project.content.slug = project.slug;
            return (
              <li>
                <ProjectCard project={project.content} badge={true} showPreventaBadge={true} />
              </li>
            );
          })
      }
    </ul>
  </div>
</section>
