---
import {
  Backpack,
  CircleCheck,
  ShoppingCart,
  HeartPulse,
  ArrowRight,
  Dot,
} from 'lucide-react';

const { blok } = Astro.props;
import {
  Card,
  CardContent,
  CardHeader,
  CardTitle,
} from '@/components/ui/card';
import { Image } from 'astro:assets';
import { storyblokEditable } from '@storyblok/js';
---

<div
  {...storyblokEditable(blok)}
  class="rounded-md text-white bg-black p-6 shadow-sm flex flex-col">
  <div
    class="inline-flex
   justify-center items-center rounded-sm w-12 h-12 bg-neutral-700">
    <Image
      src={blok.icono.filename}
      alt=`icono ${blok.titulo}`
      width="36"
      height="36"
      class="w-9 h-9 filter brightness-0 invert"
    />
  </div>
  <div class="mt-12">
    <h3 class="text-xl font-heading">
      {blok.titulo}
    </h3>
    <ul class="mt-2 space-y-1">
      {
        blok.servicio_item.map((item: any) => (
          <li class=" text-neutral-200 tracking-[0.01em] flex items-center gap-2">
            <ArrowRight size={16} className="" />
            {item.servicio}
          </li>
        ))
      }
    </ul>
  </div>
</div>
