---
import { storyblokEditable } from '@storyblok/astro';
const { blok } = Astro.props;
---

<section {...storyblokEditable(blok)} class="pt-12">
  <div class="container">
    <div class="bg-white rounded-md p-4 sm:py-12 sm:px-8 shadow-sm">
      <div>
        <h2
          class="relative text-2xl sm:text-[40px] font-heading mb-6 sm:mb-8 text-neutral-950">
          {blok.titulo}
        </h2>
      </div>
      <div
        class="overflow-hidden rounded-sm aspect-[4/5] sm:aspect-video col-span-2">
        <iframe
          width="100%"
          height="600"
          allowfullscreen="true"
          src={blok.url}
          class="w-full h-full object-cover">
        </iframe>
      </div>
    </div>
  </div>
</section>
