---

import Layout from '../layouts/Layout.astro';
import Hero from '@/components/Hero.astro'
import InfoSection from '@/components/InfoSection.astro'
import LogoCloud from '@/components/LogoCloud.astro';
import Card from '../components/ProjectCard.astro';
import ProyectosDestacados from '@/components/ProyectosDestacados.astro';
---

<Layout title="Terra Regia | Residencial">
	<main>	
	<Hero/>
	<InfoSection/>
	<LogoCloud/>
	<ProyectosDestacados/>
	</main>
</Layout>
