---
import Layout from '@/layouts/Layout.astro';
import { Image } from 'astro:assets';
import InversionCover from '@/assets/inversion-cover.webp';
import InversionSecondary from '@/assets/inversion-secondary.png';
import { InversionAccordion } from '@/components/inversion-accordion';
import MoreInfo from '@/components/MoreInfo.astro';
// import { MoreInfoForm } from '@/components/formGeneral';
// import MoreInfoIndex from '@/components/MoreInfoIndex.astro';
---

<Layout title="Inversión">
  <section class="pt-10 pb-16 flex flex-col">
    <div class="container">
      <!-- Hero -->
      <section>
        <div class="flex flex-col gap-9">
          <h1
            class="text-3xl sm:text-6xl leding-[1.1] text-black font-heading">
            Invierte en propiedades de Alta Plusvalía en Dominio
            Cumbres y Valle Condesa
          </h1>
          <p
            class="text-lg sm:text-[28px] sm:leading-9 text-neutral-700">
            Invierte hoy en casas y terrenos residenciales, asegura tu
            patrimonio y haz crecer tu futuro en las mejores
            ubicaciones. ¡Tu mejor decisión empieza aquí!
          </p>
        </div>
        <div
          class="mt-8 overflow-hidden rounded-[15px] sm:rounded-md shadow-sm aspect-video">
          <Image
            src={InversionCover}
            alt="Proyecto Inversiones"
            format="webp"
            class="w-full h-full object-cover"
          />
        </div>
      </section>

      <!-- Content -->
      <section class="mt-16">
        <div class="grid sm:grid-cols-[2fr_3fr] sm:gap-20">
          <div>
            <h2
              class="font-heading text-3xl sm:text-[44px] leading-[1.1]">
              Selecciona la mejor opción para ti.
            </h2>
            <div
              class="hidden sm:flex sm:mt-6 sm:rounded-md sm:overflow-hidden sm:shadow-sm">
              <Image
                src={InversionSecondary}
                alt="Proyecto Terra Regia"
                format="webp"
                class="w-full h-full object-cover"
              />
            </div>
          </div>
          <div class="mt-6 sm:mt-16">
            <InversionAccordion client:load />
          </div>
        </div>
      </section>
    </div>
  </section>
  <MoreInfo />
</Layout>

<script
  data-goatcounter="https://patohorn.goatcounter.com/count"
  data-goatcounter-settings='{"path": "/inversion"}'
  async
  src="//zgo.at/count.js"></script>
