---
import { useStoryblokApi } from '@storyblok/astro';
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import isPreview from '@/lib/utils';
const storyblokApi = useStoryblokApi();
const { data } = await storyblokApi.get(
  'cdn/stories/recomienda-y-gana',
  {
    version: isPreview() ? 'draft' : 'published',
  }
);
const story = data.story;
---

<BaseLayout title="Terra Regia Residencial | Recomienda y gana">
  <section class="py-10">
    <div class="container">
      <StoryblokComponent blok={story.content} />
    </div>
  </section>
</BaseLayout>
