---
import Amenity from "./Amenity.astro"
interface AmenityItem {
  icon: string,
  label: string
}
const {amenities} = Astro.props
---

<div class="bg-black rounded-md p-4 sm:px-7 sm:py-7 h-full">
  <ul class="grid grid-cols-2 items-center gap-x-6 gap-y-1 sm:gap-x-14 h-full">
    {amenities.map((amenity: AmenityItem) => (
      <Amenity name={amenity.icon} label={amenity.label}/>
    ))}
  </ul>

</div>

