---
import { Image } from "astro:assets";
import logo from '../assets/logo-terra-regia.svg'
import { Button } from "./ui/button";
import { Icon } from 'astro-icon/components'

const menuitems = [
  {
    title: 'Proyectos', 
    path: '/tipo-de-propiedad'
  }, 
  {
    title: 'Recomienda y gana', 
    path: '/recomienda-y-gana'
  }, 
  {
    title: 'Inversión', 
    path: '/inversion'
  }, 
 
]
---

<header class="py-[30px]">
  <nav class="container flex items-center justify-between h-14" aria-label="Global">
    <div class="flex lg:flex-1">
      <a href="/">
        <span class="sr-only">Terra Regia</span>
        <Image src={logo} alt="logo terra regia" class="h-8 md:h-10 w-full" loading="eager"/>
      </a>
    </div>
    <div class="hidden lg:flex lg:gap-x-10">
      {menuitems.map((item) => (
        <a href={item.path} class=" hover:text-neutral-600  font-medium ">{item.title}</a>
      ))}
    </div>
    <div class="hidden lg:flex lg:flex-1 lg:justify-end lg:gap-3">      
      <Button className="text-base w-[120px] bg-[#25D366] hover:bg-[hsl(142,66%,48%)]" size="sm">
        <Icon name="whatsapp" class="mr-1"/>
        Contacto
      </Button>
    </div>
  </nav>
</header>