---
import { Image } from 'astro:assets';
import heroImg from '@/assets/tr-hero.jpg';
import { DropdownNav } from './dropdown-nav';
import { DropdownNavMobile } from './dropdown-nav-mobile';
---

<section>
  <div class="container pt-10 sm:pt-16">
    <div class="">
      <h1
        class="font-heading text-4xl text-black text-balance max-w-[36rem] tracking-tight sm:text-7xl xl:max-w-[43.5rem]">
        Conoce nuestros proyectos de casas y terrenos residenciales
      </h1>
      <p class="mt-6 text-lg sm:text-xl text-neutral-700">
        Encuentra tu espacio ideal para vivir en las mejores ubicaciones del área metropolitana de
        Monterrey
      </p>
      <div
        class="relative mt-4 sm:mt-12 rounded-[15px] sm:rounded-lg overflow-hidden shadow-sm sm:aspect-video">
        <Image
          src={heroImg}
          alt="Imagen de familia"
          format="webp"
          width="1300"
          height="629"
          class="w-full h-full object-cover"
          loading="eager"
        />
        <div
          class="hidden sm:absolute sm:top-10 sm:right-[58px] sm:flex sm:items-center sm:justify-center">
          <DropdownNav client:load />
        </div>
      </div>

      <div class="sm:hidden mt-8">
        <DropdownNavMobile client:load />
      </div>
    </div>
  </div>
</section>
