---
import { Link } from './link';
import { Clock8, PhoneCall } from 'lucide-react';
import { Icon } from 'astro-icon/components';

const { mapQuery, googleMaps, waze, telefonoCaseta, projectName } = Astro.props;
console.log('TELEFONO CASETA', telefonoCaseta);
---

<div class="grid sm:grid-cols-[2fr_1fr] gap-y-4 gap-x-2">
  <div class="overflow-hidden rounded-sm aspect-square sm:aspect-video shadow-sm">
    <iframe
      src={`https://www.google.com/maps/embed?${mapQuery}`}
      width="600"
      height="460"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
      class="w-full h-full object-cover"></iframe>
  </div>
  <div class="bg-white rounded-md px-6 py-12 flex flex-col justify-between gap-6 shadow-sm sm:ml-4">
    <div>
      <h3 class="text-4xl leading-6 font-heading text-balance">Agenda tu cita</h3>

      <div class="mt-8 flex gap-3 items-start">
        <!-- <Clock8 className="w-4 h-4 mt-1.5" /> -->
        <p class="text-base text-balance text-neutral-700">
          Te esperamos <span class="text-accent-dark font-medium">todos</span> los días de 10 am a 7
          pm
        </p>
        <div class="flex flex-col">
          <!-- <p class="text-base">10am - 7pm</p> -->
        </div>
      </div>
      <Link href={`tel:${telefonoCaseta}`} className="mt-6 w-full inline-flex items-center">
        <PhoneCall className="w-4 h-4 mr-2" />
        <span>Agenda tu visita</span>
      </Link>
    </div>
    <div class="">
      <p class="font-medium text-sm">¿Cómo llegar?</p>
      <div class="mt-2 grid sm:grid-cols-2 gap-2">
        <Link
          href={googleMaps}
          className="w-full bg-neutral-100 text-black hover:bg-black hover:text-white">
          <Icon name="googleMaps" class="w-4 h-4 mr-1" />
          <span>Google Maps</span>
        </Link>
        <Link
          href={waze}
          className="bg-[#33ccff] text-black w-full inline-flex items-center hover:bg-[#0092ce]">
          <Icon name="waze" class="w-4 h-4 mr-1" />
          <span>waze</span>
        </Link>
      </div>
    </div>
  </div>
</div>
