---
import { getCostos, formatCurrency } from '@/lib/utils';
import Costo from '@/components/Costo.astro';
import { OptionsCarousel } from './options-carousel';
const costos = await getCostos();
const validCostos = costos.filter(
  (costo): costo is string => costo !== undefined && costo !== 'preventa'
);

const costosSorted = validCostos.sort(
  (a, b) => Number(formatCurrency(a)) - Number(formatCurrency(b))
);
const currentPath = Astro.url.pathname;
console.log(costosSorted);

const { activeCategory } = Astro.props;
---

<div class="w-full sm:w-fit">
  <div class="hidden sm:flex sm:flex-wrap sm:gap-5">
    <Costo />
    {costosSorted.map((costo) => <Costo name={costo} activeCategory={activeCategory} />)}
  </div>
  <div class="sm:hidden">
    <OptionsCarousel items={costosSorted} path={currentPath} client:load />
  </div>
</div>
