---
import { getTipos, getUbicaciones, sluglify } from '@/lib/utils';
import Category from '@/components/Category.astro';

const ubicaciones = await getUbicaciones();
const tipos = await getTipos();

const { activeCategory } = Astro.props;
---

<div class="flex flex-wrap gap-4 sm:gap-5">
  <Category />
  {tipos.map((tipo) => <Category name={tipo} activeCategory={activeCategory} />)}
</div>
