---
import {getCostos, formatCurrency} from '@/lib/utils'
import Costo from '@/components/Costo.astro'

const costos = await getCostos()
const validCostos = costos.filter((costo): costo is string => costo !== undefined);

const costosSorted = validCostos.sort((a, b) => (Number(formatCurrency(a))) - Number(formatCurrency(b)))
const {activeCategory} = Astro.props

console.log(costos)
---

<div class="flex flex-wrap gap-5">
  <Costo/>
  {
    costosSorted.map((costo) => (  
      costo !== 'preventa' &&  
      <Costo name={costo} activeCategory={activeCategory}/>
    ))
  }
</div>