---
import Image from 'astro/components/Image.astro';

import pietralta from '@/assets/pietralta.png';
import montserrat from '@/assets/montserrat.png';
import miria from '@/assets/miria.png';
import aliria from '@/assets/aliria.png';
import alinka from '@/assets/alinka.png';
import alboradas from '@/assets/alboradas.png';
import montessa from '@/assets/montessa.png';
import rincon from '@/assets/rincon.png';
import toscana from '@/assets/toscana.png';

const baseProyectos = [
  { image: pietralta, label: 'pietraltaresidencial' },
  { image: miria, label: 'miriaresidencial' },
  { image: aliria, label: 'aliriaresidencial' },
  { image: alinka, label: 'alinkaresidencial' },
  { image: alboradas, label: 'alboradasresidencial' },
  { image: montessa, label: 'montessaresidencial' },
];

const proyectos = [
  ...baseProyectos,
  ...baseProyectos,
  ...baseProyectos,
  ...baseProyectos,
  ...baseProyectos,
  ...baseProyectos,
];
---

<div
  class="animate-slideMedium flex items-center gap-6 md:gap-8 whitespace-nowrap">
  {
    proyectos.map(({ image, label }) => {
      return (
        <a
          href={`https://${label}.mx`}
          aria-label={`Ir a sitio web de ${label}`}
          class="shrink-0 cursor-pointer inline-flex max-w-28 sm:max-w-48">
          <Image
            src={image.src}
            alt={label}
            width={800}
            height={800}
            format="webp"
            class="w-full h-full object-cover filter invert"
            loading="lazy"
          />
        </a>
      );
    })
  }
</div>
