---
// import { ProjectForm } from '@/components/formProject';
const { formName } = Astro.props;
---

<section class="bg-card-foreground py-8 sm:py-28">
  <div class="max-w-screen-lg mx-auto">
    <div class="flex flex-col sm:gap-6">
      <p class="text-3xl sm:text-[40px] font-heading sm:leading-6">
        Es momento de invertir en tu futuro
      </p>
      <p class="text-3xl sm:text-[40px] sm:leading-6">Envíanos tus datos para más información</p>
    </div>
    <div class="mt-6 sm:mt-[52px]">
      <form
        method="POST"
        action="/proyectos/recibido"
        class="space-y-4"
        data-netlify="true"
        name={formName}
        netlify-honeypot="bot-field">
        {/* Hidden input for Netlify's bot field */}
        <input type="hidden" name="bot-field" class="" />
        <input type="hidden" name="form-name" value={formName} />

        <div class="grid sm:grid-cols-2 gap-4">
          <input
            type="text"
            placeholder="Nombre"
            name="nombre"
            class="flex h-12 sm:h-[68px] w-full rounded-full border border-[#827D7D] bg-white px-4 sm:px-8 py-1 text-base sm:text-xl text-[#827D7D] shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring focus-visible:ring-[#827D7D] disabled:cursor-not-allowed disabled:opacity-50"
            required
          />
          <input
            type="text"
            placeholder="Apellidos"
            name="apellidos"
            class="flex h-12 sm:h-[68px] w-full rounded-full border border-[#827D7D] bg-white px-4 sm:px-8 py-1 text-base sm:text-xl text-[#827D7D] shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring focus-visible:ring-[#827D7D] disabled:cursor-not-allowed disabled:opacity-50"
            required
          />
        </div>

        <div class="grid sm:grid-cols-3 gap-4">
          <input
            type="email"
            placeholder="Email"
            name="email"
            class="flex h-12 sm:h-[68px] w-full rounded-full border border-[#827D7D] bg-white px-4 sm:px-8 py-1 text-base sm:text-xl text-[#827D7D] shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring focus-visible:ring-[#827D7D] disabled:cursor-not-allowed disabled:opacity-50"
            required
          />
          <input
            type="tel"
            placeholder="Whatsapp"
            name="whatsapp"
            class="flex h-12 sm:h-[68px] w-full rounded-full border border-[#827D7D] bg-white px-4 sm:px-8 py-1 text-base sm:text-xl text-[#827D7D] shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring focus-visible:ring-[#827D7D] disabled:cursor-not-allowed disabled:opacity-50"
            required
          />
          <button
            type="submit"
            class="inline-flex items-center justify-center whitespace-nowrap rounded-full font-medium focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 transition-colors duration-300 ease-in-out bg-primary text-white shadow hover:bg-primary/90 h-16 px-6 py-4 text-base sm:text-xl"
            >Enviar</button
          >
        </div>
      </form>
    </div>
  </div>
</section>

<script>
  import { navigate } from 'astro:transitions/client';

  const handleSubmit = (event: any) => {
    event.preventDefault();

    const myForm = event.target;
    const formData = new FormData(myForm);

    fetch('/', {
      method: 'POST',
      headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
      body: new URLSearchParams(formData as unknown as Record<string, string>).toString()
    })
      .then(() => navigate('/proyectos/mensaje-recibido/'))
      .catch((error) => alert(error));
  };

  document.querySelector('form')?.addEventListener('submit', handleSubmit);
</script>
