---
import {MoreInfoForm} from "@/components/more-info"
---

<section class="bg-card-foreground py-28">
  <div class="container">
    <div class="flex flex-col gap-6">
     <p class="text-[40px] font-heading leading-6">Solicita más información</p>
     <p class="text-[40px] leading-6">Casas y terrenos en venta</p>
    </div>
    <div class="mt-[52px]">
      <MoreInfoForm client:load/>
    </div>
  </div>
</section>