---
import { MoreInfoForm } from '@/components/formGeneral';
---

<section class="bg-card-foreground py-8 sm:py-28">
  <div class="container">
    <div class="flex flex-col sm:gap-6">
      <p class="text-3xl sm:text-[40px] font-heading sm:leading-6">
        Es momento de invertir en tu futuro
      </p>
      <p class="text-3xl sm:text-[40px] sm:leading-6">Envíanos tus datos para más información</p>
    </div>
    <div class="mt-6 sm:mt-[52px]">
      <form name="contacto" data-netlify="true" netlify-honeypot="bot-field" hidden>
        <input type="text" name="name" />
        <input type="text" name="apellidos" />
        <input type="email" name="email" />
        <input type="tel" name="whatsapp" />
        <select name="ubicacion">
          <option value="vivir">Para vivir</option>
          <option value="invertir">Para invertir</option>
        </select>
      </form>
      <MoreInfoForm client:visible />
    </div>
  </div>
</section>
