---
import ProjectCard from './ProjectCard.astro';
const { projects } = Astro.props;
---

<section class="mt-6 sm:mt-12">
  <div class="grid sm:grid-cols-2 gap-8 sm:gap-10">
    {
      projects.map((project: any) => (
        <ProjectCard project={project} badge={true} showPreventaBadge={true} />
      ))
    }
  </div>
</section>
