---
import LeftHeading from './LeftHeading.astro';
import PromotionCard from './ui/PromotionCard.astro';
import { PromocionesCarousel } from './promo-carousel';

import rinconCocina from '@/assets/images/cocinaRincon.webp';
import aliriaImage from '@/assets/images/aliria-cover.png';
import miriaImage from '@/assets/miria/imagen4.webp';
import montessaImage from '@/assets/montessa-promo.webp';
import toscanaImage from '@/assets/toscana-promo.webp';
import pietraltaImage from '@/assets/pietralta-promo.webp';
import alboradasImage from '@/assets/alboradas-promo.webp';
import alinkaImage from '@/assets/alinka-promo.webp';

const promotions = [
  {
    title: 'Rincón de la Sierra',
    location: 'Dominio Cumbres',
    details: 'Casas desde $3.1 MDP',
    mainPromo: 'Bono de $60mil + Cocina con granito ',
    secondaryPromo: 'Casas desde $3.1 MDP',
    images: rinconCocina.src,
    specs: ['Casas', 'Desde $3.1 MDP'],
    icons: ['House', 'CircleDollarSign']
  },
  {
    title: 'Miria Residencial',
    location: 'Dominio Cumbres',
    details: 'Terrenos residenciales desde 98m² a $475,000',
    mainPromo: 'Financiamiento directo',
    mainPromoSmall: 'de hasta 27 MSI + Enganche diferido',
    secondaryPromo: 'Terrenos residenciales',
    secondaryPromoSmall: 'desde 98m2 a $475,000',
    images: miriaImage.src,
    specs: ['Terrenos residenciales', 'Desde 105m²', 'Desde $535,000'],
    icons: ['LandPlot', 'Grid', 'CircleDollarSign']
  },
  {
    title: 'Aliria Residencial',
    location: 'Valle Condesa',
    details: 'Terrenos residenciales desde 112m²',
    mainPromo: 'Financiamiento directo',
    mainPromoSmall: 'de hasta 33 MSI + Enganche diferido ',
    secondaryPromo: 'Terrenos residenciales',
    secondaryPromoSmall: 'desde 112m²',
    images: aliriaImage.src,
    specs: ['Terrenos residenciales', 'Desde 125m²', 'Desde $571,200'],
    icons: ['LandPlot', 'Grid', 'CircleDollarSign']
  },
  {
    title: 'Montessa Residencial',
    location: 'Dominio Cumbres',
    details: 'Terrenos residenciales desde 127.5m²',
    mainPromo: 'Financiamiento directo',
    mainPromoSmall: 'Mensualidades desde $21,000',
    secondaryPromo: 'Terrenos residenciales',
    secondaryPromoSmall: 'desde 127m²',
    images: montessaImage.src,
    specs: ['Terrenos residenciales', 'Desde 127.5m²', 'Desde $1,5 MDP'],
    icons: ['LandPlot', 'Grid', 'CircleDollarSign']
  },
  {
    title: 'Toscana Residencial',
    location: 'Dominio Cumbres',
    details: 'Terrenos residenciales desde 127.5m²',
    mainPromo: 'Bono de $50mil ó 5 paneles solares + 1 minisplit',
    mainPromoSmall: '',
    secondaryPromo: 'Casas desde $2.7 MDP',
    secondaryPromoSmall: '',
    images: toscanaImage.src,
    specs: ['Casas', 'Desde $2.7 MDP'],
    icons: ['House', 'CircleDollarSign']
  },
  {
    title: 'Pietralta Castelo',
    location: 'Dominio Cumbres',
    details: 'Terrenos residenciales desde 127.5m²',
    mainPromo: 'Financiamiento Directo',
    mainPromoSmall: '',
    secondaryPromo: 'Terrenos residenciales',
    secondaryPromoSmall: 'desde 202m²',
    images: pietraltaImage.src,
    specs: ['Terrenos residencialles', 'Desde 200m²', 'Desde  $2,7 MDP'],
    icons: ['LandPlot', 'Grid', 'CircleDollarSign']
  },
  {
    title: 'Alboradas Residencial',
    location: 'Dominio Cumbres',
    details: 'Terrenos residenciales desde 127.5m²',
    mainPromo: 'Financiamiento Directo',
    mainPromoSmall: 'Precios desde $2.8 MDP',
    secondaryPromo: 'Terrenos residenciales',
    secondaryPromoSmall: 'desde 212m²',
    images: alboradasImage.src,
    specs: ['Terrenos residenciales', 'Desde 212m²', 'Desde $2.7 MDP'],
    icons: ['LandPlot', 'Grid', 'CircleDollarSign']
  },
  {
    title: 'Alinka Residencial',
    location: 'Dominio Cumbres',
    details: 'Terrenos residenciales desde 127.5m²',
    mainPromo: 'Financiamiento Directo',
    mainPromoSmall: 'Mensualidades desde $13,500',
    secondaryPromo: 'Terrenos desde $1,618,400',
    secondaryPromoSmall: 'desde 136m²',
    images: alinkaImage.src,
    specs: ['Terrenos residenciales', 'Desde 136m²', 'Desde $1.6 MDP'],
    icons: ['LandPlot', 'Grid', 'CircleDollarSign']
  }
];
---

<section class="py-12 sm:pb-28">
  <div class="container">
    <LeftHeading title="Promociones del mes" />
    <div class="mt-6 sm:mt-16">
      <PromocionesCarousel promotions={promotions} client:load />
    </div>
  </div>
</section>
