---
import LeftHeading from "./LeftHeading.astro";
import PromotionCard from "./ui/PromotionCard.astro";
import { PromocionesCarousel } from "./PromocionesCarousel";

import rinconCocina from '@/assets/images/cocinaRincon.webp'
import aliriaImage from '@/assets/images/aliriaPromo.webp'
import miriaImage from '@/assets/miria/imagen4.webp'
import montessaImage from '@/assets/images/montessa-cover.webp'


const promotions = [
{
  title: 'Rincón de la Sierra',
  location: 'Dominio Cumbres', 
  details: 'Casas desde $3.1 MDP*',
  mainPromo: 'Bono de $60mil + Cocina con granito ',
  secondaryPromo: 'Casas desde $3.1 MDP',
  images: rinconCocina.src,
  
  
}, 
{
  title: 'Miria', 
  location: 'Dominio Cumbres',
  details: 'Terrenos residenciales desde 98m2 a $475,000',
  mainPromo: 'Financiamiento directo', 
  mainPromoSmall: 'de hasta 27 MSI + Enganche diferido',
  secondaryPromo: 'Terrenos residenciales',
  secondaryPromoSmall: 'desde 98m2 a $475,000',
  images: miriaImage.src,  
},
{
  title: 'Aliria', 
  location: 'Valle Condesa',
  details: 'Terrenos residenciales desde 112m2',
  mainPromo: 'Financiamiento directo', 
  mainPromoSmall: 'de hasta 33 MSI + Enganche diferido ',
  secondaryPromo: 'Terrenos residenciales',
  secondaryPromoSmall: 'desde 112m2',
  images: aliriaImage.src,   
},
{
  title: 'Montessa', 
  location: 'Dominio Cumbres',
  details: 'Terrenos residenciales desde 127.5m2',
  mainPromo: 'Financiamiento directo', 
  mainPromoSmall: 'Mensualidades desde $21,000 ',
  secondaryPromo: 'Terrenos residenciales',
  secondaryPromoSmall: 'desde 127m2',
  images: montessaImage.src,   
},
]
---

<section class="py-14 sm:py-16">
  <div class="container">
    <LeftHeading title="Promociones del mes"/>    
  </div>
  <div class="mt-6 sm:mt-12 pl-[max(16px,calc((100%-1260px)/2+16px))] ml-auto">
    <PromocionesCarousel promotions={promotions} client:load/>
  </div>
</section>

