---
import ProjectList from './ProjectList.astro';
import { Button } from './ui/button';

const { projects } = Astro.props;
---

<section class="py-12 sm:py-16">
  <div class="container">
    <div class="bg-[#252323] rounded-md sm:rounded-lg p-8 px-6 sm:py-16 sm:px-14">
      <div class="">
        <h2 class="font-medium text-3xl sm:text-5xl text-white text-balance">
          Nuevos Proyectos en Preventa
        </h2>
      </div>
    </div>
    <ProjectList projects={projects.slice(0, 4)} />
  </div>
</section>
