---
import ProjectList from "./ProjectList.astro"
import { Button } from "./ui/button"

const {projects} = Astro.props
---

<section class=""> 
    <div class="container">
      <div class="bg-[#252323] rounded-lg py-16 px-[60px] grid sm:grid-cols-[2fr_1fr] items-center">
        <div class="">
          <h2 class="font-medium text-5xl text-white">
            Nuevos Proyectos en preventa
          </h2>
        </div>
        <div class="flex gap-5">
          <Button variant="invertedOutline" size="sm" className="border border-white text-white w-[112px] h-8 tracking-wide text-base">Todos</Button>
          <Button variant="invertedOutline" size="sm" className="border border-white text-white w-[112px] h-8 tracking-wide text-base">Casas</Button>
          <Button variant="invertedOutline" size="sm" className="border border-white text-white w-[112px] h-8 tracking-wide text-base">Terrenos</Button>
        </div>      
      </div> 
      <ProjectList projects={projects}/>
    </div>  
</section>