---
import { Image } from 'astro:assets';
import { Badge } from '@/components/ui/badge';

const { data } = Astro.props;
console.log(data);
---

{
  data &&
    data.map((item: any) => (
      <div class="overflow-hidden shadow-sm rounded-md aspect-square relative">
        <Image
          src={item.imagen.filename}
          alt={`Foto de ${item.tag}`}
          class="w-full h-full object-cover"
          loading="eager"
          format="webp"
          inferSize
        />
        <Badge className="absolute bottom-2.5 left-2.5" client:visible>
          {item.tag}
        </Badge>
      </div>
    ))
}
