---
import { Image } from 'astro:assets';
import { Badge } from '@/components/ui/badge';

const { images, amenidades } = Astro.props;
---

{
  images &&
    images.map((image: any, idx: any) => (
      <div class="overflow-hidden shadow-sm rounded-md aspect-square relative">
        <Image
          src={image}
          alt="Foto de proyecto"
          class="w-full h-full object-cover"
          loading="eager"
          format="webp"
        />
        <Badge className="absolute bottom-2.5 left-2.5" client:visible>
          {amenidades[idx]}
        </Badge>
      </div>
    ))
}
