---
import { Image } from "astro:assets"

const {images} = Astro.props
---


{images && images.map((image: any, idx: any) => (
  <div class="overflow-hidden shadow-sm rounded-md aspect-square">
    <Image src={image} alt="Foto de proyecto" class="w-full h-full object-cover" loading="eager"/>
  </div>
))}
