---
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card"

const {service} = Astro.props
---


<Card>
  <CardHeader>
    <CardTitle>{service}</CardTitle>
    <!-- <CardDescription>Card Description</CardDescription> -->
  </CardHeader>
  <CardContent>
    <p>Card Content</p>
  </CardContent>
  <CardFooter>
    <p>Card Footer</p>
  </CardFooter>
</Card>
