---
import { Icon } from 'astro-icon/components';

const { url, platform } = Astro.props;
---

<a
  class="h-8 w-8 shadow-sm hover:opacity-90 flex items-center justify-center bg-black rounded-full"
  href={url}>
  <Icon name={platform} class="text-white" />
</a>
