---
const {items} = Astro.props
---

<div class="flex flex-wrap gap-4 justify-center">
  {items.map((item:string) => (
    <p class="text-xs sm:text-base border border-black px-4 py-2 rounded-full font-medium">{item}</p>
  ))}
</div>