---
import { Link } from './link';
import { CloudDownload } from 'lucide-react';
const { items, brochure } = Astro.props;
const titles = ['Frente', 'Fondo', 'Área'];
---

<div
  class="mt-4 sm:mt-6 flex flex-wrap items-center w-full justify-center sm:justify-center gap-y-6 gap-x-12 sm:max-w-sm sm:mx-auto">
  <div class="flex items-center gap-x-8 justify-between">
    {
      items.map((item: string, idx: number) => (
        <div class="flex flex-col items-center">
          <h3 class="text-sm text-neutral-600 text-center font-medium">
            {titles[idx]}
          </h3>
          <p class="text-base sm:text-lg text-black tracking-[0.01em]">
            {item}
          </p>
        </div>
      ))
    }
  </div>
  {
    brochure && (
      <Link
        href={brochure}
        target="_blank"
        variant="default"
        className="flex items-center gap-2 text-sm w-fit">
        <CloudDownload className="w-5 h-5" />
        <span>Brochure</span>
      </Link>
    )
  }
</div>
