---
import ListCategories from '@/components/ListCategories.astro';
import ListProjects from '@/components/ListProjects.astro';
import MoreInfo from '@/components/MoreInfo.astro';
import Layout from '@/layouts/Layout.astro';
import { getProjects } from '@/lib/utils';
import { Button } from '@/components/ui/button';
import ListSubcategories from '@/components/ListSubcategories.astro';

const projects = await getProjects();
---

<Layout title="Tipos de Propiedad">
  <section>
    <div class="container">
      <div
        class="mt-6 sm:mt-10 bg-black/95 px-6 py-8 sm:py-28 flex flex-col gap-8 sm:gap-10 items-center justify-center rounded-md">
        <h1 class="text-white font-heading text-3xl sm:text-7xl">Tipo de Propiedad</h1>
        <ListCategories />
        <ListSubcategories />
      </div>
      <div class="pt-10 pb-28">
        <ListProjects projects={projects} />
      </div>
    </div>
  </section>
  <MoreInfo />
</Layout>
