---
import { useStoryblokApi } from '@storyblok/astro';
import ProyectoList from '@/components/ProyectoList.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
import ProjectFilter from '@/components/project-filter';
const storyblokApi = useStoryblokApi();
const { data } = await storyblokApi.get('cdn/stories/proyectos', {
  version: 'draft',
});
console.log(data.story.content);
// const imagenFiltro = data.story.content.imagen_filtro;
---

<BaseLayout>
  <section class="max-w-7xl mx-auto px-6 sm:px-0">
    <ProyectoList
      imagenFiltro={data.story.content.body[0].imagen_filtro}
    />
  </section>
</BaseLayout>
