---
import BaseLayout from '@/layouts/BaseLayout.astro';
import { MailCheck } from 'lucide-react';
import { Link } from '@/components/link';
---

<BaseLayout title="Terra Regia | Mensaje Recibido">
  <section class="grid place-content-center">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-28 lg:px-6">
      <div
        class="mx-auto max-w-screen-sm text-center flex flex-col items-center">
        <MailCheck className="w-20 h-20 text-green-600 mb-4" />
        <h1
          class="mb-4 text-3xl font-heading text-gray-900 md:text-4xl">
          ¡Hemos recibido tu información!
        </h1>
        <p class="mb-4 text-lg font-light text-gray-500 max-w-[30em]">
          Gracias por contactarnos. Pronto te estaremos contactando
          para brindarte más detalles
        </p>
        <Link href="/">Volver a Inicio</Link>
      </div>
    </div>
  </section>
</BaseLayout>
